/* Contents */
/*
    1. GLOBAL
        1.1 global styles  

    2. MAIN STYLING
        2.1  home section
            2.1.1 sticky headers
            2.1.2 navigation
            2.1.3 main headers
            2.1.4 hero images
            2.1.5 about paragraph
        2.2  information section
            2.2.1 interior images with figcaptions
            2.2.2 features list
            2.2.3 activities
        2.3  booking section
            2.3.1 booking form
            2.3.2 locatiom
            2.3.3 map
        2.4  footer
        2.5  contact.html

        */

        /* 1. GLOBAL */

/* 1.1 global styles */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #60806c;
}

body {
    font-size: 1.6rem;
}

.sub-headers {
    display: flex;
    justify-content: center;
    font-family: 'Bebas-Neue', sans-serif;
    font-size: 3.6rem;
    color: #ffff;
}

figcaption {
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
    color: #303339;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Bebas+Neue&family=Inter:wght@300&display=swap');

/* 2. MAIN STYLING */

/* 2.1.1 sticky header */

.sticky-header {
    font-family: 'Bebas-Neue', sans-serif;

    background-color: #292c31;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.header-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

.logo {
    width: 6rem;
    margin-right: 11vw;
}

/* 2.1.2 navigation */

.nav-button i {
    font-size: 3rem;
    margin-top: 1rem;
    margin-right: 10vw;
    margin-bottom: 1.5rem;
    color: #ffff;
}

/* 2.1.3 main headers */

.big-heading {
    font-size: 19vw;
    font-family: 'Bebas-Neue', sans-serif;
    text-align: center;
    color: #292c31;
    margin: 9rem 0 0 0;
}

.sub-heading {
    font-family: 'Bebas-Neue', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #ffff;
}

/* 2.1.4 hero-images */

.hero-image {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.5%;
    border-color: #292c31;    
    width: 100%;
    margin-bottom: 1.5vw;
}

/* 2.1.5 about paragraph */

.info-div {
    text-align: center;
    font-family: 'Almarai', sans-serif;
    color: #ffff;
    font-weight: 500;  
    margin-top: 6vw;
    padding: 2%;
    text-align:center;
}

/* 2.2.1 interior images with figcaptions */

#kitchen-living-space {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vw;
    object-fit: fill;
    border-width: 3%;
    border-style: solid;
    border-color: #292c31;
    
}

.interior-images {
    box-sizing: border-box;
    object-fit:none;
    border-style: solid;
    border-width: 0.5%;
    border-color: #292c31;    
    width: 100%;
    height: 90vw;
    margin-bottom: 1.5vw;
}

.features-background {
    background-color: #303339;
    height: auto;
    width: 100%;
}

#includes {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    color: #ffffff;
    margin: 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* 2.2.2 features list */

.listfeatures {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align:lcenter;   
    padding: 10%;
    display: flex;
    flex-direction: column;   
}

.listfeatures > li {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Inter"'sans-serif';
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    list-style: square;
}

.inc-list {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-bottom: 5%;
    display: flex;
    justify-content: left;
    text-align:start;
    margin: 5% 0 0 10%;
}

/* 2.2.3 activities */

.activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height:auto;
    margin-left: 20%;
}

.icon-description {
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Bebas-Neue', sans-serif;
}

.things-to-do-container {
    margin-bottom: 20%;
}

/* 2.3.1 booking form */

.form-inputs {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center space-between space-around;
}

.text-inputs {
    margin-bottom: 5%;
    width: 90%;
    height:3vh;
}

#message {
    width:90%;
    height: 12vh;
}
.calendar-1 { 
    margin-bottom: 5%;
    width: 90%;
    height:3vh;
}

.calendar-2{
    margin-bottom: 5%;
    width: 90%;
    height:3vh;
}

/* 2.3.2 location */

.address {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    border-style: solid;
    border-width: 4%;
    border-color: #ffffff;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    list-style: none; 
    text-transform: uppercase;
}

/* 2.3.3 map */

#map {
    height: 25vh;
    width: 100%;
    border: none;
}

#map-wrapper {
    box-sizing: content-box;
}

/* 2.4 footer */

#footer {
    position:sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #292c31;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.social-media > li {
    margin: 1rem 6rem 2rem 0;
    display:flex;
    justify-content: center;
}

.social-media i {
    margin: 40% 20% 20% 20%;
    font-size: 160%;
    color: #ffffff;
    display: flex;
    
}

/* form.htrml */